# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
build/
.next/
out/
*.tsbuildinfo

# Turbo
.turbo/

# Env
.env
.env.local
.env.*.local
!.env.example

# Prisma
apps/api/prisma/*.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Testing
coverage/
.nyc_output/

# Editor / OS
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
*.swp

# Uploads / local S3
.minio-data/
uploads/
